.navbar-brand > p{
    padding: auto 0;
    margin: auto 0;
}

.navbar {
    background-color : #0061a5;
    font-family: 'Cormorant Garamond', serif;
}

body {
    font-family: 'Proza Libre', sans-serif;
}

#home-image{
    height: 100%;
    width: 100%;
}
#img-container{
    position: relative;
    text-align: center;
}

#img-text{
    position: absolute;
    top: 8rem;
    right: 50px;
    color:#ffffff;
    font-size: 20px;
}
.btn-group{
    width: 100%;
}

#login, #signup{
    width: 50%;
}